
@import '@/theme/mixins/shadow.mixin.scss';

@mixin input {
    width: 480px;
    height: 56px;
    background: white;
    border-radius: 12px;
    border: none;

    &::placeholder {
        color: #BDBDBD;
    }

    &:focus {
        outline: none;
    }

    @include shadow;
}